<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funmilola.medkit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.scan.ScanActivity" />
        <activity android:name=".feature.user_profile.UserProfileActivity" />
        <activity android:name=".feature.drugs_identified.DrugsIdentifiedActivity" />
        <activity android:name=".feature.mvp.BaseMvpActivity" />
        <activity android:name=".feature.scan_splash.ScanSplashActivity" />
        <activity android:name=".DoctorProfileActivity" />
        <activity android:name=".feature.meet_a_doc.MeetADoctorActivity" />
        <activity android:name=".WelcomeActivity">
            android:parentActivityName=".LoginActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".feature.onboarding.OnBoardingActivity"
            android:theme="@style/AppTheme.OnBoarding" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>